html,
body {
 height: 100%;
 position: relative;
}

.navbar {
  background-color: white;
}

.navbar-nav > .active {
  color: white;
  padding: 5px;
  background-color: #8B044A;
  margin: auto;
}

.navbar-brand {
  color: white;
}

.navbar-brand:hover {
  color: #AB95A0;
  text-decoration: none;
}


.nav-link {
  color: black;
}

.nav-link-selected {
  color: white;
}

.nav-link-selected:hover {
  color: white;
  text-decoration: none;
}

.nav-link:hover {
  color: #8B044A;
  text-decoration: none;
}

.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  min-height: 40px;
  line-height: 60px;
  background-color: #8B044A;
}

.p {
  margin-top: 0;
  margin-bottom: 0;
  color: white;
}

.footer__nav {
  margin: auto;
  padding-top: 10px;
  height: 50px;
  width: 50%;
  text-align: center;
}

.footer__nav-item {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 14px;
  color: #AB95A0;
}

.footer__nav-item:hover {
  color: white;
  text-decoration: none;
}

.footer__nav-social {
  padding-top: 15px;
  margin: auto;
  height: 50px;
  width: 50%;
  text-align: center;
  color: white;
}

.footer__social-item {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 14px;
  color: #AB95A0;
}

.footer__social-item:hover {
  color: white;
  text-decoration: none;
}

.footer__p {
  margin: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 60%;
  text-align: center;
  font-size: 14px;
  color: #AB95A0;
}

.cover-image {
  position: relative;
  margin-top: 0px;
}

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

.band-name {
  position: relative;
  margin-left: 5%;
  margin-top: 6%;
  padding-left: 460px;
  font-family: 'Indie Flower', cursive;
  font-weight: 100;
  color: #333333;
  animation: fadeInUp 1s;
}

@keyframes move-to-right {
  from {left: -300px;}
  to {left: 0px;}
}

@keyframes move-to-left {
  from {right: -300px;}
  to {right: 0px;}
}
@keyframes bounceInUp {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 3000px, 0);
    transform: translate3d(0, 3000px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, -5px, 0);
    transform: translate3d(0, -5px, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.bounceInUp {
  -webkit-animation-name: bounceInUp;
  animation-name: bounceInUp;
}

.cover-balloons {
  position: relative;
  margin-top: 50px;
  height: 140px;
  animation: bounceInUp 2s;
}

.cover-image-abby {
  position: relative;
  animation: move-to-right 2s;
  transition-timing-function: ease-in-out;
}

.cover-image-amanda {
  position: relative;
  animation: move-to-left 2s;
  transition-timing-function: ease-in-out;
}

.about {
  display: inline-block;
  position: absolute;
  margin-left: 5%;
  margin-top: 4%;
  min-width: 300px;
  max-width: 480px;
  font-size: 14px;
}

.important-text {
  font-size: 1.3rem;
  font-weight: bold;
  color: #333333;
}

.about-image {
  padding-left: 50%;
  padding-top: 17%;
}

.name1 {
  display: inline-block;
  position: absolute;
  margin-left: 5%;
  margin-top: 6%;
  padding-left: 620px;
  padding-top: 120px;
  font-family: 'Indie Flower', cursive;
  font-weight: 100;
  color: #333333;
  z-index: 9999;
}

.name2 {
  display: inline-block;
  position: absolute;
  margin-left: 5%;
  margin-top: 6%;
  padding-left: 790px;
  padding-top: 80px;
  font-family: 'Indie Flower', cursive;
  font-weight: 100;
  color: #333333;
}

.album-cover {
  position: absolute;
  display: inline-block;
  height: 160px;
  margin: 0px;
  text-align: center;
  border-radius: 10px;
  transition: box-shadow .3s;
}

.album-cover:hover {
  box-shadow: 0 0 20px rgba(33,33,33,.2);
}

.album-cover-image {
  display: inline-block;
  height: 160px;
  margin: 0;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.album-info {
  position: absolute;
  display: inline-block;
  max-width: 800px;
  font-size: 16px;
  line-height: 24px;
}

.album1 {
  position: absolute;
  display: inline-block;
  width: 55%;
  text-align: left;
}

.hr {
  margin-top: 85%;
  margin-bottom: 0;
}

.hr2 {
  margin-top: 95%;
  margin-bottom: 0;
}

.album2 {
  position: absolute;
  margin-top: 5%;
  display: inline-block;
  width: 55%;
  text-align: left;
}

.album3 {
  position: absolute;
  margin-top: 5%;
  display: inline-block;
  width: 55%;
  text-align: left;
}


.table {
  position: absolute;
  margin-top: 18%;
  width: 100%;
  text-align: center;
}

.album-title {
  font-weight: bold;
  font-size: 1.5rem;
}

.discrography {
  padding-left: 25%;
}

.clearfix {
  overflow: auto;
}

.padding-top {
  padding-top: 40px;
}
.padding-top-50 {
  padding-top: 50px;
}

.padding-bottom {
  padding-bottom: 40px;
}

.main-container-discography {
  min-height: 350vh; /* will cover the 230% of viewport */
  overflow: hidden;
  display: block;
  position: relative;
}

.container2 {
  display: block;
}

.main-container-media {
  min-height: 150vh; /* will cover the 150% of viewport */
  overflow: hidden;
  display: block;
  position: relative;
}

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
}

.column {
  -ms-flex: 25%; /* IE10 */
  max-width: 50%;
}

.img-gallery {
  padding-top: 40px;
  padding-left: 15%;
  padding-bottom: 40px;
  width: 100%;
-webkit-column-count: 3;
-moz-column-count: 3;
column-count: 3;
-webkit-column-width: 33%;
-moz-column-width: 33%;
column-width: 33%;
}


.img-gallery-item {
  display: inline-block;
  width: 100%;
  height: auto;
  border-radius: 0px;
  transition: box-shadow .3s;
}

.img-gallery-item:hover {
  box-shadow: 0 8px 20px rgba(0,0,0,.3);
}

.column {
  padding-left: 55px;
  width: 100%;
}

.video-gallery {
  display: inline-block;
  position: absolute;
  width: 30%;
  right: 0;
  margin: 5px;
}

.video-gallery-item {
  padding-bottom: 15px;
}

.vl {
  position: absolute;
  margin-top: 100px;
  display: inline-block;
  width: 6%;
  border-right: 1px solid #e2e2e2;
  height: 145vh;
}

.container3 {
  float: left;
  padding-left: 200px;
  max-width: 25%;

}

.merch-filter {
  display: inline-block;
  width: 30%;
  padding-left: 20%;
}

.merch-filter-item {
  padding: 20px;
  font-weight: 300;
}

.selected {
  color: #8B044A;
}


.merch-gallery {
  padding-top: 40px;
  padding-bottom: 40px;
  width: 60%;
-webkit-column-count: 3;
-moz-column-count: 3;
column-count: 3;
-webkit-column-width: 33%;
-moz-column-width: 33%;
column-width: 33%; }

.merch-gallery-item {
  display: inline-block;
  width: 100%;
  height: auto;
  border-radius: 0px;
  transition: box-shadow .3s;
}

.merch-gallery .pics {
-webkit-transition: all 350ms ease;
transition: all 350ms ease; }

.merch-gallery .animation {
-webkit-transform: scale(1);
-ms-transform: scale(1);
transform: scale(1); }

@media (max-width: 450px) {
.merch-gallery {
-webkit-column-count: 1;
-moz-column-count: 1;
column-count: 1;
-webkit-column-width: 100%;
-moz-column-width: 100%;
column-width: 100%;
}
}

@media (max-width: 400px) {
.btn.filter {
padding-left: 1.1rem;
padding-right: 1.1rem;
}
}

.container-tourdates {
  text-align: center;
  height: 850px;
}

.image-centered {
  position: relative;
  display: inline-block;
  width: 60px;
  padding-top: 20px;
  z-index: 9999;
}

.tourdates-table {
  position: relative;
  width: 50%;
  margin-left: 25%;
}

.moveup250px {
  transform: translateY(-250px);
}
